  <%= form_for [@interview] do |f| %>

    Interviewee: <%= @interview.interviewee_email %>
    Time: <%= @interview.interview_date %>

    <%= f.text_field :interviewer_email, :value => current_user.email, :readonly => true %> <br />
    <%= f.text_field :scheduled, :value => true, :readonly => true %> <br />

    <p><%= f.submit "Confirm Interview" %></p>

  <% end %>