  <%= form_for [@interview] do |f| %>

    <h3>Interviewee</h3>

    <table class="table table-striped">

      <tr><td><%= User.where(email: @interview.interviewee_email).first.first_name %> <%= User.where(email: @interview.interviewee_email).first.last_name %></td></tr>
      <tr><td><%= @interview.interviewee_email %></td></tr>
      <tr><td><%= @interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %></td></tr>

    </table>

    <div class="hidden">

      <%= f.text_field :interviewer_email, :value => current_user.email, :readonly => true %> 
      <%= f.text_field :scheduled, :value => true, :readonly => true %> <br /><br />

    </div>

    <p><%= f.submit "Confirm Interview", :class => 'btn btn-primary' %></p>

  <% end %>