<h3>Scheduled Interviews</h3>

<table class="table table-striped">
  <% @interviews_scheduled.each do |interview| %>
    <tr>
      <td width="30%">Interviewee: <%= interview.interviewee_email %></td>
      <td width="30%">Interviewer: <%= interview.interviewer_email %></td>
      <td width="40%"><%= interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %></td>
    </tr>
  <% end %>
</table>
<br />

<h3>Unscheduled Interviews</h3>

<table class="table table-striped">
  <% @interviews_unscheduled.each do |interview| %>
    <tr>
      <td width="30%">Interviewee: <%= interview.interviewee_email %></td>
      <td width="30%"></td>
      <td width="40%"><%= interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %></td>
    </tr>
  <% end %>
</table>

<br />

<h3>Interviewees</h3>

<table class="table table-striped">
  <% @interviewees.each do |user| %>
    <tr>
      <td width="30%"><%= user.first_name %> <%= user.last_name %></td>
      <td width="70%"><%= user.email %></td>
    </tr>
  <% end %>
</table>

<br /> <br />

<h3>Interviewers</h3>

<table class="table table-striped">
  <% @interviewers.each do |user| %>
    <tr>
      <td width="30%"><%= user.first_name %> <%= user.last_name %></td>
      <td width="70%"><%= user.email %></td>
    </tr>
  <% end %>
</table>


<br /> <br />

<h3>Admins</h3>

<table class="table table-striped">
  <% @admins.each do |user| %>
    <tr>
      <td width="30%"><%= user.first_name %> <%= user.last_name %></td>
      <td width="70%"><%= user.email %></td>
    </tr>
  <% end %>
</table>

<br />










