Scheduled Interviews

<ul>
  <% @interviews_scheduled_for_interviewer.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", " + interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %>
    <li><%= info%> <%= link_to "Cancel Interview", interview, method: :delete, data: {confirm: "are you sure?"} %></li>
  <% end %>
</ul>

<br /> 

Possible Interviews

<ul>
  <% @interviews_unscheduled.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", " + interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %>
    <% if interview.interview_date > Time.now %>
      <li><%= info %> <%= link_to "Schedule Interview", edit_interview_path(interview) %></li>
    <% else %>
      <li><%= info %> - Unable to Schedule - <%= link_to "Delete Request", interview, method: :delete, data: {confirm: "are you sure?"} %></li>
    <% end %>
  <% end %>
</ul>