<div class="row">
  <div class="col-md-offset-5">
    <%= instant_hangout %> 
  </div>
</div>

<h3>Scheduled Interviews</h3>

<table class="table table-striped">
  <% @interviews_scheduled_for_interviewer.each do |interview| %>

    <tr>
      <td width="20%"><%= User.where(email: interview.interviewee_email).first.first_name %> <%= User.where(email: interview.interviewee_email).first.last_name %></td>
      <td width="20%"><%= interview.interviewee_email %></td>
      <td width="40%"><%= interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %></td>
      <td width="20%"><%= link_to "Cancel Interview", interview, :class => 'btn btn-danger', method: :delete, data: {confirm: "Are you sure you want to cancel?"} %></td>
    </tr>
  <% end %>
</table>

<br /> 

<h3>Possible Interviews</h3>

<table class="table table-striped">
  <% @interviews_unscheduled.each do |interview| %>

    <tr>
      <td width="20%"><%= User.where(email: interview.interviewee_email).first.first_name %> <%= User.where(email: interview.interviewee_email).first.last_name %></td>
      <td width="20%"><%= interview.interviewee_email %></td>
      <td width="30%"><%= interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %></td>

      <% if interview.interview_date > Time.now %>
        <td width="10%"></td>
        <td width="20%"><%= link_to "Schedule Interview", edit_interview_path(interview), :class => 'btn btn-success' %></td>
      <% else %>
        <td width="10%"></td>
        <td width="20%"><%= link_to "Delete Interview", interview, :class => 'btn btn-warning', method: :delete, data: {confirm: "Are you sure you want to cancel?"} %></td>
      <% end %>

    </tr>
  <% end %>
</table>

