<h3>Enter your available times</h3>
<br /> 


<%= form_for [@interview] do |f| %>

  <div class="hidden">
    <%= f.text_field :interviewee_email, :value => current_user.email, :readonly => true %> 
  </div>

  <%= f.datetime_select(:interview_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}, :start_year => 2016, :end_year => Date.today.year + 1, :ampm => true, :minute_step => 15) %>
  <br /><br />


  <p><%= f.submit "Request Interview Time" %></p>

<% end %>


<br /><br />

<h3>Scheduled Interviews</h3>

<table class="table table-striped">
  <% @interviews_scheduled_for_interviewee.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", " + interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %>
    <tr><td><%= info%> <%= link_to "Cancel Interview", interview, method: :delete, data: {confirm: "are you sure?"} %></td></tr>
  <% end %>
</table>

<br /><br />

<h3>Requested Interview Times</h3>

<table class="table table-striped">
  <% @interviews_unscheduled_for_interviewee.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", " + interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %>
    <tr><td><%= info%> <%= link_to "Cancel Interview", interview, method: :delete, data: {confirm: "are you sure?"} %></td></tr>
  <% end %>
</table>





