Interviewees

<ul>
  <% @interviewees.each do |user| %>
    <li><%= user.first_name %> <%= user.last_name %></li>
  <% end %>
</ul>

<br /> <br />

Interviewers

<ul>
  <% @interviewers.each do |user| %>
    <li><%= user.first_name %> <%= user.last_name %></li>
  <% end %>
</ul>


<br /> <br />

Unscheduled Interviews

<ul>
  <% @interviews_unscheduled.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", Interviewer: " + "None" + ", Time: " + interview.interview_date.to_s %>
    <li>

    <%= link_to info, edit_interview_path(interview) %>

    </li>
  <% end %>
</ul>