<div class="row">
  <div class="col-md-offset-5">
    <%= instant_hangout %> 
  </div>
</div>


<h3>Scheduled Interviews</h3>

<table class="table table-striped">
  <% @interviews_scheduled_for_interviewer.each do |interview| %>

    <tr>
      <td width="20%"><%= interview.interviewee_email %></td>
      <td width="60%"><%= interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %></td>
      <td width="20%"><%= link_to "Cancel Interview", interview, method: :delete, data: {confirm: "are you sure?"} %></td>
    </tr>

  <% end %>
</table>

<br /> 

<h3>Possible Interviews</h3>

<table class="table table-striped">
  <% @interviews_unscheduled.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", " + interview.interview_date.strftime("%a %B %d, %Y %l:%M %p %Z") %>
    <% if interview.interview_date > Time.now %>
      <tr><td><%= info %> <%= link_to "Schedule Interview", edit_interview_path(interview) %></td></tr>
    <% else %>
      <tr><td><%= info %> - Unable to Schedule - <%= link_to "Delete Request", interview, method: :delete, data: {confirm: "are you sure?"} %></td></tr>
    <% end %>
  <% end %>
</table>

