This is the index of the welcome controller

<br /> <br />



<div class="choose_user">

  <%= radio_button_tag(:user_type, "interviewee") %>
  <%= label_tag(:user_type_interviewee, "Interviewee") %>
  <br />

  <%= radio_button_tag(:user_type, "interviewer") %>
  <%= label_tag(:user_type_interviewer, "Interviewer") %>
  <br />

  <%= radio_button_tag(:user_type, "admin") %>
  <%= label_tag(:user_type_admin, "Admin") %>

  <br /> <br />

</div>
