<!DOCTYPE html>
<html>
<head>
  <title>InterviewConnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <br />
  <a href="#" class="show-interviewee">Interviewee!</a>
  <br />
  <a href="#" class="show-interviewer">Interviewer!</a>
  <br />
  <a href="#" class="show-admin">Admin!</a>
  <br />

  <br />



  <div class="interviewee">

  <p>Interviewee</p>

    <% if interviewee_signed_in? %>
      <li>Signed in as <%= current_interviewee.email %></li>
      <li><%= link_to 'Edit profile', edit_interviewee_registration_path %></li>
      <li><%= link_to "Logout", destroy_interviewee_session_path, method: :delete %></li>
      <li><%= link_to "New Post", new_interviewee_post_path(current_interviewee) %></li>
    <% else %>
      <li><%= link_to "Sign up", new_interviewee_registration_path %></li>
      <li><%= link_to "Login", new_interviewee_session_path %></li>
    <% end %>
  </div>

  <br /><br />


  <div class="interviewer">

    <p>Interviewer</p>

    <% if interviewer_signed_in? %>
      <li>Signed in as <%= current_interviewer.email %></li>
      <li><%= link_to 'Edit profile', edit_interviewer_registration_path %></li>
      <li><%= link_to "Logout", destroy_interviewer_session_path, method: :delete %></li>
      <li><%= link_to "New Post", new_interviewer_post_path(current_interviewer) %></li>
    <% else %>
      <li><%= link_to "Sign up", new_interviewer_registration_path %></li>
      <li><%= link_to "Login", new_interviewer_session_path %></li>
    <% end %>

  </div>

  <br /><br />


  <div class="admin">

    <p>Admin</p>

    <% if admin_signed_in? %>
      <li>Signed in as <%= current_admin.email %></li>
      <li><%= link_to 'Edit profile', edit_admin_registration_path %></li>
      <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
      <li><%= link_to "New Post", new_admin_post_path(current_admin) %></li>
    <% else %>
      <li><%= link_to "Sign up", new_admin_registration_path %></li>
      <li><%= link_to "Login", new_admin_session_path %></li>
    <% end %>
  </div>

  <br /><br />




</body>
</html>
