<!DOCTYPE html>
<html>
<head>
  <title>InterviewConnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <br />
  <a href="#" class="show-interviewee">Interviewee!</a>
  <br />
  <a href="#" class="show-interviewer">Interviewer!</a>
  <br />
  <a href="#" class="show-admin">Admin!</a>
  <br />

  <br />



  <div class="interviewee">

  <p>Interviewee</p>

  </div>

  <br /><br />


  <div class="interviewer">

    <p>Interviewer</p>

  </div>

  <br /><br />


  <div class="admin">

    <p>Admin</p>

  <br /><br />


        <% if user_signed_in? %>
          <li>Signed in as <%= current_user.email %></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>

</body>
</html>
